@import "reset.scss";
@import "fonts.scss";
@import "variables.scss";
@import "main.scss";

@import "header.scss";
@import "header-menu.scss";
@import "header-search-form.scss";

.actions {
    flex: 0 0 273 / 1240 * 100%;
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 0 32 / 273 * 100%; //calc(1px + 31 * (100vw - 320px) / (1440 - 320));
    justify-content: flex-end;
    align-items: center;
    z-index: 5;

    @media screen and (max-width: 992px) {
        padding: 0px 10px;
        flex: 0 0 172 / 1240 * 100%;
        justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
        padding: 0px 30px 0px 10px;
    }

    &__item {
        position: relative;

        // &_favorites {

        // }

        // &_profile {
        // }
    }

    &__icon {
        position: relative;
        top: 1.5px;
        height: 24px;
        width: 24px;
        fill: #262f56;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                fill: $orangeColor;
            }
        }
    }

    &__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}

.cart {
    position: relative;
    display: block;

    &._opened {
        .cart__body {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__icon {
        position: relative;
        top: 1.5px;
        height: 24px;
        width: 24px;
        fill: #262f56;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                fill: $orangeColor;
            }
        }
    }

    &__counter {
        font-size: 12px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $orangeColor;
        color: #fff;
        right: -10px;
        top: -10px;
    }

    &__body {
        cursor: default;
        position: absolute;
        top: 40px;
        right: -25px;
        display: block;
        width: 500px;
        background-color: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(7px);
        border: 1px solid rgba(231, 231, 231, 0.72);
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px);
        transition: all 0.4s ease 0s;

        @media screen and (max-width: 768px) {
            right: -85px;
            width: calc(280px + 200 * (100vw - 320px) / (768 - 320));
        }
    }

    &__list {
        padding: 15px 0px 0px 0px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 768px) {
            padding: calc(7px + 8 * (100vw - 320px) / (768 - 320)) 0px 0px 0px;
        }
    }

    // &__list-header {
    //     font-size: 20px;
    //     font-weight: 500;
    //     line-height: 150%;
    //     color: $orangeColor;
    //     padding: 10px 20px 10px 97px;
    //     display: grid;
    //     grid-template-columns: 1fr 125px 85px;
    //     justify-items: center;

    //     @media screen and (max-width: 768px) {
    //         font-size: calc(16px + 4 * (100vw - 320px) / (768 - 320));
    //     }
    // }

    // .cart__delete-button
    &__delete-button {
        border: 1px solid $orangeColor;
        color: $orangeColor;
        display: block;
        width: 100px;
        height: 40px;
        margin: 0px 37px 20px auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        transition: all 0.3s ease 0s;

        @media screen and (max-width: 768px) {
            width: calc(70px + 40 * (100vw - 320px) / (768 - 320));
            height: calc(30px + 10 * (100vw - 320px) / (768 - 320));
            margin: 0px calc(10px + 27 * (100vw - 320px) / (768 - 320)) calc(7px + 13 * (100vw - 320px) / (768 - 320)) auto;
            font-size: calc(13px + 3 * (100vw - 320px) / (768 - 320));
        }

        &:hover {
            background-color: $orangeColor;
            color: #fff;
        }
    }

    // .cart__delete-popup
    &__delete-popup {
        opacity: 0;
        visibility: hidden;
        transform: translateX(600px);
        transition: all 0.3s ease 0s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($color: #f9f1e7, $alpha: 0.72);
        backdrop-filter: blur(5px);

        &._active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }

    // .cart__delete-warning

    &__delete-warning {
        display: block;
        text-align: center;
        width: 75%;
        margin-bottom: 65px;
        background-color: rgba($color: #fff, $alpha: 0.72);
        color: $orangeColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        padding: 15px;
        border: 2px solid $orangeColor;
        border-radius: 10px;

        @media screen and (max-width: 768px) {
            font-size: calc(15px + 5 * (100vw - 320px) / (768 - 320));
            padding: calc(0px + 15 * (100vw - 320px) / (768 - 320));
            margin-bottom: calc(65px - 15 * (100vw - 320px) / (768 - 320));
        }

        @media screen and (max-width: 480px) {
            width: 90%;
            margin-bottom: 40px;
        }
    }

    // .cart__delete-popup-button
    &__delete-popup-button {
        position: absolute;
        bottom: 20px;
        width: 90px;
        height: 40px;
        background-color: rgba($color: #fff, $alpha: 0.72);
        color: $orangeColor;
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        border: 2px solid $orangeColor;
        border-radius: 5px;
        transition: all 0.3s ease 0s;

        @media screen and (max-width: 768px) {
            font-size: calc(14px + 6 * (100vw - 320px) / (768 - 320));
            height: calc(25px + 15 * (100vw - 320px) / (768 - 320));
            width: calc(65px + 25 * (100vw - 320px) / (768 - 320));
            bottom: calc(5px + 15 * (100vw - 320px) / (768 - 320));
        }

        &:hover {
            background-color: rgba($color: $orangeColor, $alpha: 0.72);
            color: #fff;
        }

        &_yes {
            left: 20%;
        }

        &_no {
            right: 20%;
        }
    }
}

.item-cart {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto 1fr 125px 85px 41px;
    align-items: center;
    justify-items: center;

    @media screen and (max-width: 768px) {
        padding: 10px calc(5px + 15 * (100vw - 320px) / (768 - 320));
        grid-template-columns:
            calc(32.5px + 34.5 * (100vw - 320px) / (768 - 320)) auto calc(85px + 50 * (100vw - 320px) / (768 - 320)) calc(
                60px + 25 * (100vw - 320px) / (768 - 320)
            )
            calc(20px + 21 * (100vw - 320px) / (768 - 320));
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: auto 1fr 75px 41px;
        grid-template-areas:
            "image title title title"
            "image price quantity deleteBut";
    }

    &__image {
        width: 57px;
        height: 60.2px;
        margin: 0px 10px;

        @media screen and (max-width: 768px) {
            width: calc(28.5px + 28.5 * (100vw - 320px) / (768 - 320));
            height: calc(30.1px + 30.1 * (100vw - 320px) / (768 - 320));
            margin: 0px calc(4px + 6 * (100vw - 320px) / (768 - 320));
        }

        @media screen and (max-width: 480px) {
            width: 57px;
            height: 60.2px;
            grid-template-columns: auto 1fr;
            grid-area: image;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        color: $mainFontColor;

        @media screen and (max-width: 768px) {
            font-size: calc(16px + 4 * (100vw - 320px) / (768 - 320));
        }

        @media screen and (max-width: 480px) {
            grid-area: title;
        }
    }

    &__price,
    &__quantity {
        font-weight: 500;
        line-height: 150%;
        color: $mainFontColor;
        @media screen and (max-width: 768px) {
            font-size: calc(13px + 3 * (100vw - 320px) / (768 - 320));
        }
    }

    &__price {
        @media screen and (max-width: 480px) {
            grid-area: price;
        }
    }

    &__quantity {
        @media screen and (max-width: 480px) {
            grid-area: quantity;
        }
    }

    &__delete-button {
        height: 20px;
        width: 20px;
        margin-bottom: 2px;

        @media screen and (max-width: 768px) {
            height: calc(15px + 5 * (100vw - 320px) / (768 - 320));
            width: calc(15px + 5 * (100vw - 320px) / (768 - 320));
        }

        @media screen and (max-width: 480px) {
            grid-area: deleteBut;
        }
    }

    &__icon {
        height: 20px;
        width: 20px;
        fill: $mainFontColor;
        transition: all 0.3s ease 0s;

        @media screen and (max-width: 768px) {
            height: calc(15px + 5 * (100vw - 320px) / (768 - 320));
            width: calc(15px + 5 * (100vw - 320px) / (768 - 320));
        }

        &:hover {
            fill: $orangeColor;
        }
    }
}

.quantity-cart {
    display: flex;
    align-items: center;

    // .quantity-cart__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: 15px;
        font-size: 18px;
        background-color: #eee5da;

        @media screen and (max-width: 768px) {
            font-size: calc(14px + 4 * (100vw - 320px) / (768 - 320));
        }

        // .quantity-cart__button_minus

        &_minus {
        }

        // .quantity-cart__button_plus

        &_plus {
        }
    }

    // .quantity-cart__counter

    &__counter {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        margin: 0px 6px;

        @media screen and (max-width: 768px) {
            font-size: calc(14px + 6 * (100vw - 320px) / (768 - 320));
        }
    }
}

.burger {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 20px;
    z-index: 7;

    &::before,
    &::after {
        content: "";
        background-color: #262f56;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all ease-in 0.5s;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    & span {
        position: absolute;
        background-color: #262f56;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all ease-in 0.5s;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.main {
    background-color: #fcf8f3;
    max-width: $maxWidth;
    margin: 0 auto;
    padding-top: 85px;

    @media screen and (max-width: 992px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 768px) {
        padding-top: 45px;
    }

    // .main__slider

    &__slider {
        width: 100%;
        max-width: $maxWidth;
        margin: 0 auto;
    }

    // .main__advantages

    &__advantages {
        background-color: #fff;
    }

    // .main__products

    &__products {
    }

    // .main__rooms

    &__rooms {
    }

    // .main__tips

    &__tips {
    }
}

.main-slider {
    height: 619px;
    background-color: #fcf8f3;
    padding-top: 16px;
    position: relative;

    &::before {
        position: absolute;
        top: -125px;
        content: "";
        background-color: $beigeColor;
        width: 964 / 1440 * 100%;
        height: calc(100% + 125px);
        z-index: 1;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    @media screen and (max-width: 1200px) {
        height: auto;
    }

    // .main-slider__container

    &__container {
        height: 100%;
        overflow: hidden;
        z-index: 2;

        @media screen and (max-width: 768px) {
            overflow: visible;
        }
    }

    // .main-slider__wrapper

    &__wrapper {
        margin-right: 100px;
        margin-left: 100px;
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
            margin-right: calc(15px + 85 * (100vw - 1000px) / (1440 - 1000)); //!!
            margin-left: calc(15px + 85 * (100vw - 1000px) / (1440 - 1000)); //!!
        }
        @media screen and (max-width: 1200px) {
            margin-right: calc(15px + 85 * (100vw - 600px) / (1200 - 600));
            margin-left: calc(15px + 85 * (100vw - 600px) / (1200 - 600));
        }
        @media screen and (max-width: 600px) {
            margin-right: calc(5px + 10 * 100vw / 600);
            margin-left: calc(5px + 10 * 100vw / 600);
        }
    }

    // .main-slider__body

    &__body {
        position: relative;
        z-index: 2;

        @media screen and (max-width: 768px) {
            padding-bottom: calc(20px + 30 * (100vw - 320px) / (768 - 320));
        }
    }

    // .main-slider__content

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px;
        background-color: rgba($color: #ffffff, $alpha: 0.72);
        backdrop-filter: blur(5px);
        width: 494px;
        height: 553px;
        z-index: 9;

        @media screen and (max-width: 1200px) {
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            padding: calc(15px + 35 * (100vw - 320px) / (1200 - 320));
        }
    }

    // .main-slider__slider

    &__slider {
        position: relative;
        top: 10px;
        left: calc(100% - 934px);

        @media screen and (max-width: 1200px) {
            top: 0;
            left: 0;
            margin-top: 20px;
        }
    }
}

.content-main {
    // .content-main__title

    &__title {
        line-height: 67.2 / 56 * 100%;
        font-size: 56px;
        font-weight: 700;
        @media screen and (max-width: 1200px) {
            font-size: calc(25px + 25 * (100vw - 320px) / (1200 - 320));
        }
    }

    // .content-main__description

    &__description {
        display: block;
        margin: 16px 0px 48px 0px;
        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
        color: $greyColor;
    }

    // .content-main__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 78px;
        background-color: $orangeColor;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #e6925e;
            span {
                text-decoration: underline;
            }
        }
    }
}

.slider-main {
    width: 934px;

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;
        margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
        padding-bottom: 58px;
    }

    // .slider-main__controls

    &__controls {
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: 1200px) {
            position: relative;
        }

        @media screen and (max-width: 480px) {
            position: static;
        }
    }

    // .slider-main__wrapper

    &__wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 9999px;
        transition: ease-in 0.8s all;
    }

    // .slider-main__page

    &__page {
    }
}

.controls-slider-main {
    z-index: 10;
    height: 70px;
    width: 714px;

    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        width: calc(100vw - 494px - 32px - (15px + 85 * (100vw - 1000px) / (1440 - 1000)) * 2);
        // width: calc(104px + 600 * ((100vw - 768px) / (1440 - 768))); //!!!!!!!!!!!!!!!!!!!!!
        // width: (714vw / 1440 * 100);
    }

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
        padding: 0px 15px;
    }

    @media screen and (max-width: 480px) {
        justify-content: center;
    }

    // .controls-slider-main__dots

    &__dots {
        // height: 48px;
        // display: grid;
        // align-items: center;
        // grid-template-columns: auto;
        // grid-auto-flow: column;
        // grid-column-gap: 20px;

        // @media screen and (max-width: 1200px) {
        //     margin-left: 5px;
        // }
    }

    // .controls-slider-main__dot

    &__dot {
        // width: 11px;
        // height: 11px;
        // position: relative;
        // background-color: #d8d8d8;
        // border-radius: 50%;
        // transition: all 0.5s ease;
        // &._active {
        //     background-color: $orangeColor;
        //     &::after {
        //         content: "";
        //         position: absolute;
        //         left: -8px;
        //         top: -8px;
        //         display: block;
        //         height: 27px;
        //         width: 27px;
        //         border: 1px solid $orangeColor;
        //         border-radius: 50%;
        //     }
        // }
        // &:hover {
        //     background-color: #e89f73;
        // }
    }

    // .controls-slider-main__arrows

    &__arrows {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: 1200px) {
            position: relative;
        }

        @media screen and (max-width: 480px) {
            position: absolute;
            top: auto;
            bottom: 0;
            right: calc(50% - 52px);
        }
    }
}

.slider-arrows {
    // .slider-arrows__arrow

    &__arrow {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: #f8d5bb;
        transition: all 0.3s ease;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        &:hover {
            background-color: #e89f73;
            .slider-arrows__arrow-icon {
                fill: #fff;
            }
        }

        &._blocked {
            cursor: default;
            background-color: rgba($color: #f8d5bb, $alpha: 0.72);
            .slider-arrows__arrow-icon {
                fill: #fff;
            }
            // &:hover{

            // }
        }

        // .slider-arrows__arrow_prev

        &_prev {
            margin-right: 4px;
        }

        // .slider-arrows__arrow_next

        &_next {
        }
    }

    // .slider-arrows__arrow-icon

    &__arrow-icon {
        height: 10px;
        width: 16px;
        fill: #e89f73;

        // .slider-arrows__arrow-icon_prev

        &_prev {
            transform: rotate(90deg);
        }

        // .slider-arrows__arrow-icon_next

        &_next {
            transform: rotate(-90deg);
        }
    }
}

.slider-dots {
    height: 48px;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-column-gap: 20px;

    @media screen and (max-width: 1200px) {
        margin-left: 5px;
    }

    &__dot {
        width: 11px;
        height: 11px;
        position: relative;
        background-color: #d8d8d8;
        border-radius: 50%;
        transition: all 0.5s ease;
        &._active {
            background-color: $orangeColor;
            &::after {
                content: "";
                position: absolute;
                left: -8px;
                top: -8px;
                display: block;
                height: 27px;
                width: 27px;
                border: 1px solid $orangeColor;
                border-radius: 50%;
            }
        }
        &:hover {
            background-color: #e89f73;
        }
    }
}

.page-slider {
    position: relative;
    top: 70px;
    margin-right: 32px;
    transition: all 0.3 ease 0s;

    &._active {
        .page-slider__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        top: 0px;
        margin-top: 10px;
    }

    // .page-slider__image

    &__image {
        @media screen and (max-width: 1200px) {
            width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        }
    }

    // .page-slider__content

    &__content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 40px;
        right: 40px;
        transform: translateY(50px);
        transition: all 0.8s ease-in 0s;
        @media screen and (max-width: 768px) {
            position: relative;
            bottom: 0;
            right: 0;
            transform: none;
        }
    }
}

.content-page {
    width: 294px;
    height: 148px;
    padding: 24px;
    background-color: rgba($color: #ffffff, $alpha: 0.72);
    backdrop-filter: blur(5px);

    @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
    }

    // .content-page__title

    &__title {
        font-size: 28px;
        line-height: 33.6 / 28 * 100%;
        font-weight: 600;
        display: block;
    }

    // .content-page__description

    &__description {
        font-weight: 500;
        line-height: 175%;
        display: block;
    }

    // .content-page__price

    &__price {
        font-size: 20px;
        line-height: 190%;
        font-weight: 600;
        display: block;
    }

    // .content-page__link

    &__link {
        position: absolute;
        // bottom: 31px;
        // right: 28px;
        bottom: 24px;
        right: 27px;
    }

    // .content-page__icon

    &__icon {
        width: 20px;
        height: 14px;
        fill: #000;
    }
}

.advantages {
    padding: 88px 100px;

    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    grid-column-gap: 70 / 1440 * 100%;

    @media screen and (max-width: 1440px) {
        padding: calc(10px + 78 * (100vw - 320px) / (1440 - 320)) calc(10px + 90 * (100vw - 320px) / (1440 - 320));
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    // .advantages__item

    &__item {
        padding: 22px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 600px) {
            padding-left: calc(10px + 125 * (100vw - 320px) / (600 - 320));
        }
    }

    // .advantages__icon

    &__icon {
        height: 40px;
        min-width: 40px;
        width: 40px;
    }

    // .advantages__text

    &__text {
        margin-left: 22px;
    }

    // .advantages__title

    &__title {
        font-size: 18px;
        line-height: 150%;
        font-weight: 600;
        margin-bottom: 2px;
    }

    // .advantages__description

    &__description {
        line-height: 150%;
        font-weight: 500;
        color: #898989;
    }
}

.products {
    background-color: #fff;
    padding-bottom: 44px;

    // .products__wrapper

    &__wrapper {
        max-width: $maxContainerWidth;
        margin: 0 auto;
        padding: 0px 15px;
    }

    // .products__title

    &__title {
        text-align: center;
    }

    // .products__items

    &__items {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
        // grid-auto-flow: column;
        grid-gap: 32px;
        justify-items: center;
    }

    // .products__product

    &__product {
    }

    //.products__load-more-button

    &__load-more-button {
    }
}

.button-products {
    position: relative;
    display: block;
    color: #e89f71;
    font-weight: 600;
    line-height: 150%;
    width: 245px;
    height: 48px;
    margin: 32px auto 0 auto;
    border: 1px solid #e89f71;
    transition: all 0.3s ease 0s;

    &:hover {
        color: #fff;
        background-color: #e89f71;
    }

    &._blocked {
        color: #fff;
        opacity: 0.5;
        background-color: #eeae86;
        cursor: default;
    }

    &._hold {
        color: #fff;
        opacity: 0.5;
        background-color: #eeae86;
        cursor: default;
    }
}

.product {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
    position: relative;
    max-width: 285px;

    @media (any-hover: hover) {
        &:hover {
            .popup-product {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    // .product__labels

    &__labels {
        position: absolute;
        top: 24px;
        right: 24px;
    }

    // .product__label

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        margin-bottom: 10px;
        border-radius: 50%;
        font-weight: 500;
        color: #fff;

        // .product__label_sale

        &_sale {
            background-color: #e97171;
        }

        // .product__label_new

        &_new {
            background-color: #2ec1ac;
        }
    }

    // .product__image

    &__image {
        width: 285px;
        height: 301px;
    }

    // .product__content

    &__content {
        padding: 16px 16px 30px 16px;
    }

    // .product__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 29 / 24 * 100%;
        margin-bottom: 8px;
    }

    // .product__description

    &__description {
        color: $greyColor;
        font-weight: 500;
        line-height: 150%;
    }

    // .product__prices

    &__prices {
        margin-top: 8px;
    }

    // .product__price

    &__price {
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        margin-right: 16px;
    }

    // .product__old-price

    &__old-price {
        color: #b0b0b0;
        font-family: Gilroy;
        font-weight: 400;
        line-height: 150%;
        text-decoration: line-through;
    }

    // .product__popup

    &__popup {
    }
}

.popup-product {
    position: absolute;
    background-color: rgba($color: #3a3a3a, $alpha: 0.72);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;

    @media (any-hover: none) {
        &._active {
            opacity: 1;
            visibility: visible;
        }
    }

    // .popup-product__actions

    &__actions {
        width: 201 / 285 * 100%;
        height: 96px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    // .popup-product__button

    &__button {
        flex: 1 1 201 / 285 * 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 100%;
        margin-bottom: 24px;
        background-color: #fff;
        color: $orangeColor;
        font-weight: 600;
        line-height: 150%;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                background-color: $orangeColor;
                color: #fff;
            }
        }
    }

    // .popup-product__link

    &__link {
        display: flex;
        align-items: center;
        height: 24px;
        transition: all 0.3s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                .popup-product__icon {
                    fill: $orangeColor;
                }

                .popup-product__text {
                    color: $orangeColor;
                }
            }
        }
    }

    // .popup-product__icon

    &__icon {
        fill: #fff;
        margin-right: 8px;
        transition: all 0.3s ease 0s;

        // .popup-product__icon_share

        &_share {
            width: 18px;
            height: 20px;
        }

        // .popup-product__icon_like

        &_like {
            width: 24px;
            height: 21px;
        }
    }

    // .popup-product__text

    &__text {
        font-size: 16px;
        color: #fff;
        font-weight: 600px;
        line-height: 150%;
        transition: all 0.3s ease 0s;
    }

    // .popup-product__like-button

    &__like-button {
        display: flex;
        align-items: center;
        height: 24px;

        @media (any-hover: hover) {
            &:hover {
                .popup-product__icon {
                    fill: $orangeColor;
                }

                .popup-product__text {
                    color: $orangeColor;
                }
            }
        }
    }
}

.rooms {
    max-width: $maxWidth;
    background-color: #fcf8f3;
    padding: 44px 0px;
    overflow: hidden;

    @media screen and (max-width: 480px) {
        padding: calc(20px + 20 * (100vw - 320px) / (480 - 320)) 0px;
    }

    // .rooms__body

    &__body {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        position: relative;
        max-width: $maxContainerWidth;
        margin: 0 auto;
        padding: 0px 15px;

        @media screen and (max-width: 992px) {
            display: block;
        }
    }

    // .rooms__content

    &__content {
    }

    // .rooms__slider

    &__slider {
    }
}

.content-rooms {
    padding: 0px calc(51px + 51 * (100vw - 992px) / (1440 - 992)) 0px 0px;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fcf8f3;
    position: relative;

    @media screen and (max-width: 992px) {
        width: 75%;
        padding: 0;
        margin: 0px auto 44px auto;
        align-items: center;
        text-align: center;
    }

    // &::before {
    //     content: " ";
    //     height: 100%;
    //     width: 100%;
    //     left: -100%;
    //     position: absolute;
    //     background-color: #fcf8f3;
    // }

    // .content-rooms__title

    &__title {
        // font-size: 40px;
        // font-weight: 700;
        // line-height: 120%;
        margin-bottom: 8px;

        // @media screen and (max-width: 900px) {
        //     font-size: calc(24px + 16 * (100vw - 320px) / (900 - 320));
        // }
    }

    // .content-rooms__description

    &__description {
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }

    // .content-rooms__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 176px;
        height: 48px;
        background-color: $orangeColor;
        color: #fff;
        font-weight: 600;
        line-height: 150%;
        margin-top: 24px;
    }
}

.slider-rooms {
    position: relative;
    width: 773px;

    @media screen and (max-width: 1440px) {
        width: calc(773 / 1440 * 100vw);
    }

    @media screen and (max-width: 992px) {
        width: calc(100% - 70px);
        margin: 0px 0px 0px 35px;
    }

    @media screen and (max-width: 480px) {
        overflow: hidden;
        width: 283px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "slider"
            "controls";
    }

    &::before {
        content: " ";
        height: 110%;
        width: 100%;
        left: -100%;
        position: absolute;
        top: -20px;
        background-color: #fcf8f3;
        z-index: 4;
    }

    // .slider-rooms__controls

    &__controls {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        @media screen and (max-width: 480px) {
            position: relative;
            max-width: 283px;
            grid-area: controls;
        }
    }

    // .slider-rooms__wrapper

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 9999px;
        transition: all 0.6s ease 0s;

        @media screen and (max-width: 800px) {
            padding: 0px 0px 60px 0px;
        }

        @media screen and (max-width: 480px) {
            overflow: hidden;
            height: 351px;
            grid-area: slider;
        }
    }

    // .slider-rooms__page

    &__page {
        margin-right: 24px;
    }
}

.controls-slider-rooms {
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
        display: block;
    }

    // .controls-slider-rooms__arrows

    &__arrows {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1440px) {
            width: 404px;
        }

        @media screen and (max-width: 992px) {
            // width: 106px;
            width: calc(242px + 223px + (162 + 149) * (100vw - 320px) / (992 - 320));
        }

        @media screen and (max-width: 800px) {
            width: 106px;
            position: absolute;
            bottom: 0px;
            right: 0px;
        }

        @media screen and (max-width: 480px) {
            position: static;
            margin: 20px auto 10px auto;
        }
    }

    &__arrow {
        background-color: #fff;
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
        z-index: 10;

        @media screen and (max-width: 480px) {
            box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.16);
        }

        // .controls-slider-rooms__arrow_prev

        &_prev {
            transform: translateX(-24px);

            @media screen and (max-width: 992px) {
                transform: none;
            }
        }

        // .controls-slider-rooms__arrow_next

        &_next {
            transform: translateX(24px);

            @media screen and (max-width: 992px) {
                transform: none;
            }
        }
    }

    // .controls-slider-rooms__dots

    &__dots {
        z-index: 10;
        position: absolute;
        bottom: 24px;
        left: 404px + 24px - 31px;

        @media screen and (max-width: 992px) {
            left: calc(242px + 162 * (100vw - 320px) / (992 - 320) + 24px - 31px);
        }

        @media screen and (max-width: 800px) {
            left: -31px;
            bottom: 0;
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    // .controls-slider-rooms__dot
}

.page-slider-rooms {
    position: relative;
    height: 582px;

    @media screen and (max-width: 992px) {
        height: calc(349px + 233 * (100vw - 320px) / (992 - 320));
    }

    @media screen and (max-width: 480px) {
        width: 283px;
        height: 351px;
    }
    &._active {
        .page-slider-rooms__image {
            width: 404px;
            height: 582px;

            @media screen and (max-width: 992px) {
                width: calc(242px + 162 * (100vw - 320px) / (992 - 320));
                height: calc(349px + 233 * (100vw - 320px) / (992 - 320));
            }

            @media screen and (max-width: 992px) {
                width: inherit;
                height: inherit;
            }

            @media screen and (max-width: 480px) {
                width: 283px;
                height: 351px;
            }
        }

        .page-slider-rooms__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0px);
        }
    }

    // .page-slider-rooms__image

    &__image {
        width: 372px;
        height: 486px;
        transition: all 0.6s ease 0s;

        @media screen and (max-width: 992px) {
            width: calc(223px + 149 * (100vw - 320px) / (992 - 320));
            height: calc(292px + 194 * (100vw - 320px) / (992 - 320));
        }

        @media screen and (max-width: 800px) {
            width: calc(242px + 162 * (100vw - 320px) / (992 - 320));
            height: calc(349px + 233 * (100vw - 320px) / (992 - 320));
        }

        @media screen and (max-width: 480px) {
            width: 283px;
            height: 351px;
        }
    }

    // .page-slider-rooms__content

    &__content {
        position: absolute;
        bottom: 24px;
        left: 24px;

        // @media screen and (max-width: 800px) {
        //     bottom: calc(20px + 4 * (100vw - 320px) / (800 - 320));
        //     left: calc(14px + 10 * (100vw - 320px) / (800 - 320));
        // }
    }
}

.content-page-rooms {
    width: 217px;
    min-height: 130px;
    background: rgba($color: #fff, $alpha: 0.72);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100px);
    transition: all 0.6s ease 0s;

    @media screen and (max-width: 800px) {
        width: calc(165px + 52 * (100vw - 320px) / (800 - 320));
    }

    // .content-page-rooms__wrapper

    &__wrapper {
        margin: 20px;
        text-align: center;
        max-width: calc(100% - 20px);

        @media screen and (max-width: 800px) {
            margin: calc(10px + 10 * (100vw - 320px) / (800 - 320));
        }
    }

    // .content-page-rooms__description

    &__description {
        width: 100%;
        display: flex;
        align-items: center;

        font-weight: 500;
        line-height: 150%;
        color: #616161;
        margin-bottom: 8px;
    }

    // .content-page-rooms__number

    &__number {
        position: relative;
        margin-right: 43px;

        @media screen and (max-width: 800px) {
            margin-right: calc(27px + 16 * (100vw - 320px) / (800 - 320));
        }

        &::after {
            content: "";
            position: absolute;
            top: calc(50% - 1px);
            right: -35px;
            display: block;
            width: 27px;
            border: 1px solid #616161;

            @media screen and (max-width: 800px) {
                width: calc(15px + 12 * (100vw - 320px) / (800 - 320));
                right: calc(-21px - 14 * (100vw - 320px) / (800 - 320));
            }
        }
    }

    // .content-page-rooms__text

    &__text {
    }

    // .content-page-rooms__title

    &__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;

        @media screen and (max-width: 800px) {
            font-size: calc(20px + 8 * (100vw - 320px) / (800 - 320));
        }
    }

    // .content-page-rooms__button

    &__button {
        position: absolute;
        right: -48px;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        background-color: $orangeColor;

        @media screen and (max-width: 800px) {
            width: calc(34px + 14 * (100vw - 320px) / (800 - 320));
            height: calc(34px + 14 * (100vw - 320px) / (800 - 320));
            right: calc(-34px - 14 * (100vw - 320px) / (800 - 320));
        }
    }

    // .content-page-rooms__icon

    &__icon {
        width: 20px;
        height: 14px;
        fill: #fff;

        @media screen and (max-width: 480px) {
            width: calc(16px + 4 * (100vw - 320px) / (480 - 320));
            height: calc(11.2px + 2.8 * (100vw - 320px) / (480 - 320));
        }
    }
}

.tips {
    max-width: $maxWidth;
    background-color: #fff;

    // .tips__body

    &__body {
        max-width: $maxContainerWidth;
        margin: 0 auto;
        padding: 44px 0px 0px 0px;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 63px);
        }

        @media screen and (max-width: 700px) {
            max-width: calc(254px + 137 * (100vw - 320px) / (700 - 320) + 30px);
        }
    }

    .tips__title {
        text-align: center;
        // font-size: 40px;
        // font-weight: 700;
        // line-height: 120%;

        // @media screen and (max-width: 900px) {
        //     font-size: calc(24px + 16 * (100vw - 320px) / (900 - 320));
        // }
    }

    // .tips__slider

    &__slider {
        position: relative;
    }
}

.slider-tips {
    // .slider-tips__controls

    &__controls {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    // .slider-tips__container

    &__container {
        max-width: $maxContainerWidth;
        padding: 32px 15px 44px 15px;
        overflow: hidden;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 63px);
        }

        @media screen and (max-width: 700px) {
            max-width: calc(254px + 137 * (100vw - 320px) / (700 - 320) + 30px);
            padding: 32px 15px 84px 15px;
        }
    }

    // .slider-tips__wrapper

    &__wrapper {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: row;
        width: 9999px;
        transition: all 0.6s ease 0s;
    }

    // .slider-tips__page

    &__page {
        margin-right: 33px;
    }
}

.controls-slider-tips {
    // .controls-slider-tips__arrows

    &__arrows {
        position: absolute;
        top: 125px - 24px + 32px;
        left: 15px;
        width: 1240px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 33px);
        }

        @media screen and (max-width: 700px) {
            max-width: calc(254px + 137 * (100vw - 320px) / (700 - 320) + 96px);
            margin-left: -48px;
        }

        @media screen and (max-width: 480px) {
            max-width: 106px;
            position: relative;
            top: calc(100% - 116px);
            left: calc(50% - 53px);
            margin: 0;
        }
    }

    // .controls-slider-tips__arrow

    &__arrow {
        background-color: #fff;
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
        z-index: 10;

        &._blocked {
            cursor: default;
            background-color: rgba($color: rgb(245, 245, 245), $alpha: 0.72);
            .slider-arrows__arrow-icon {
                fill: $orangeColor;
            }

            @media screen and (max-width: 700px) {
                background-color: rgba($color: $orangeColor, $alpha: 0.4);
                .slider-arrows__arrow-icon {
                    fill: #fff;
                }
            }
        }

        // .controls-slider-tips__arrow_prev

        &_prev {
            transform: translateX(-24px);

            @media screen and (max-width: 480px) {
                transform: none;
            }
        }

        // .controls-slider-tips__arrow_next

        &_next {
            transform: translateX(24px);

            @media screen and (max-width: 480px) {
                transform: none;
            }
        }
    }

    // .controls-slider-tips__dots

    &__dots {
        z-index: 10;
        position: relative;
        top: calc(100% - 48px - 44px);
        margin: 0 auto;

        @media screen and (max-width: 700px) {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.page-slider-tips {
    width: 391px;
    margin-bottom: 45px + 27px;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: 1350px) {
        width: calc(254px + 137 * (100vw - 320px) / (1350 - 320));
    }

    @media screen and (max-width: 700px) {
        width: calc(254px + 137 * (100vw - 320px) / (700 - 320));
        margin-bottom: 0px;
    }

    &:hover {
        box-shadow: -3px 20px 20px rgba($color: #616161, $alpha: 0.1);
    }

    // .page-slider-tips__image

    &__image {
        @media screen and (max-width: 1350px) {
            width: calc(254px + 137 * (100vw - 320px) / (1350 - 320));
        }

        @media screen and (max-width: 700px) {
            width: calc(254px + 137 * (100vw - 320px) / (700 - 320));
            margin-bottom: 0px;
        }
    }

    // .page-slider-tips__content

    &__content {
    }
}

.content-page-tips {
    padding: 16px;

    // .content-page-tips__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8px;

        @media screen and (max-width: 900px) {
            font-size: calc(17px + 7 * (100vw - 320px) / (900 - 320));
        }
    }

    // .content-page-tips__date

    &__date {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
}

.footer {
    color: #616161;

    //.footer__wrapper

    &__wrapper {
        max-width: $maxContainerWidth;
        padding: 0px 15px;
        margin: 0 auto;
    }

    // .footer__body

    &__body {
        padding: 80px 0px 50px 0px;
        border-top: 1px solid #d8d8d8;
        display: grid;
        grid-template-columns: auto;
        grid-auto-flow: column;
        grid-column-gap: 80px;

        @media screen and (max-width: 1270px) {
            padding-top: calc(10px + 70 * ((100vw - 320px) / (1270 - 320)));
            padding-bottom: calc(10px + 30 * ((100vw - 320px) / (1270 - 320)));
            grid-column-gap: calc(20px + 60 * ((100vw - 992px) / (1270 - 992)));
        }

        @media screen and (max-width: 992px) {
            grid-auto-flow: initial;
            grid-template-areas:
                "contacts contacts contacts contacts"
                "menu account socials feedback";
            grid-row-gap: 15px;
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: (repeat(6, 1fr));
            grid-template-areas:
                "contacts contacts contacts feedback feedback feedback"
                "menu menu account account socials socials";
        }
        @media screen and (max-width: 576px) {
            grid-template-areas: unset;
            grid-template-columns: 1fr;
        }
    }

    //.footer__block

    &__block {
        &:not(:last-child) {
            padding: 0px 10px 0px 0px;
        }
        @media screen and (max-width: 576px) {
            &._active {
                .footer__title {
                    color: $orangeColor;
                }
                .footer__arrow {
                    transform: rotate(-180deg);
                }
                .footer__arrow-icon {
                    fill: $orangeColor;
                }
            }
        }
    }

    // .footer__contacts

    &__contacts {
        display: grid;
        grid-template-rows: 45px auto auto;
        @media screen and (min-width: 577px) and (max-width: 992px) {
            grid-area: contacts;
        }
    }

    // .footer__logo

    &__logo {
        font-size: 24px;
        font-weight: 700;
        line-height: 29 / 24 * 100%;
        color: #000;
    }

    // .footer__desc

    &__desc {
        line-height: 24 / 16 * 100%;
    }

    // .footer__contacts-info

    &__contacts-info {
    }

    // .footer__menu

    &__menu {
        @media screen and (min-width: 577px) and (max-width: 992px) {
            grid-area: menu;
        }
    }

    // .footer__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29 / 24 * 100%;
        color: #000;
        display: flex;
        align-items: center;
    }

    // .footer__arrow

    &__arrow {
        margin: 2px 0 0 8px;
        transition: all 0.3s ease 0s;
        display: none;
        @media screen and(max-width: 576px) {
            display: inline-block;
            // &._active {
            //     transform: rotate(-180deg);
            // }
        }
    }

    // .footer__arrow-icon

    &__arrow-icon {
        height: 9px;
        width: 14px;
        fill: $mainFontColor;
        transition: all 0.4s ease 0s;
    }

    // .footer__list

    &__list {
        display: grid;
        grid-template-rows: auto;
        @media screen and(max-width: 576px) {
            display: none;
        }
    }

    // .footer__list-item

    &__list-item {
        line-height: 24 / 16 * 100%;
        margin-top: 16px;
    }

    // .footer__link

    &__link {
        color: #616161;
        &:hover {
            text-decoration: underline;
        }
    }

    // .footer__account

    &__account {
        @media screen and (min-width: 577px) and (max-width: 992px) {
            grid-area: account;
        }
    }

    // .footer__socials

    &__socials {
        @media screen and (min-width: 577px) and (max-width: 992px) {
            grid-area: socials;
        }
    }

    // .footer__feedback

    &__feedback {
        @media screen and (min-width: 577px) and (max-width: 992px) {
            grid-area: feedback;
        }
    }
}

.contacts-footer {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: end;

    // .contacts-footer__item

    &__item {
        color: #616161;
        margin-top: 16px;
        height: 24px;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: underline;
        }

        // .contacts-footer__item_location

        &_location {
        }

        // .contacts-footer__item_phone-num

        &_phone-num {
        }

        // .contacts-footer__item_url

        &_url {
        }
    }

    // .contacts-footer__icon

    &__icon {
        height: 16px;
        width: 16px;
        margin-right: 8px;
        fill: #898989;
    }

    // .contacts-footer__location

    &__location {
    }

    // .contacts-footer__phone-num

    &__phone-num {
    }
}

.feedback {
    // .feedback__title

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29 / 24 * 100%;
        color: #000;
    }

    // .feedback__form

    &__form {
        margin: 16px 0px 0px 0px;
        height: 45px;
        width: 100%;

        display: flex;
        flex-direction: row;
    }

    // .feedback__input

    &__input {
        background-color: #f4f5f7;
        flex: 1 2 auto;
        height: 45px;
        margin: 0px 4px 0px 0px;
        padding: 0px 0px 0px 12px;
        font-size: 16px;

        &::placeholder {
            // padding: 0px 0px 0px 12px;
            font-size: 16px;
            color: #828282;
        }
    }

    // .feedback__button

    &__button {
        height: 45px;
        width: 45px;
        background-color: #e89f71;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .feedback__icon

    &__icon {
        height: 18px;
        width: 18px;
        fill: #fff;
    }
}
