.main-slider {
    background-color: #fcf8f3;
    padding-top: 16px;
    position: relative;

    &::before {
        position: absolute;
        top: -125px;
        content: "";
        background-color: $beigeColor;
        width: calc(964 / 1440 * 100%);
        height: calc(100% + 125px);
        z-index: 1;

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    @media screen and (max-width: 1200px) {
        height: auto;
    }

    // .main-slider__container

    &__container {
        overflow: hidden;
        z-index: 2;

        @media screen and (max-width: 768px) {
            overflow: visible;
        }
    }

    // .main-slider__wrapper

    &__wrapper {
        margin-right: 100px;
        margin-left: 100px;
        @media screen and (min-width: 1200px) and (max-width: 1440px) {
            margin-right: calc(15px + 85 * (100vw - 1000px) / (1440 - 1000)); //!!
            margin-left: calc(15px + 85 * (100vw - 1000px) / (1440 - 1000)); //!!
        }
        @media screen and (max-width: 1200px) {
            margin-right: calc(15px + 85 * (100vw - 600px) / (1200 - 600));
            margin-left: calc(15px + 85 * (100vw - 600px) / (1200 - 600));
        }
        @media screen and (max-width: 600px) {
            margin-right: calc(5px + 10 * 100vw / 600);
            margin-left: calc(5px + 10 * 100vw / 600);
        }
    }

    // .main-slider__body

    &__body {
        position: relative;
        z-index: 2;

        @media screen and (max-width: 768px) {
            padding-bottom: calc(20px + 30 * (100vw - 320px) / (768 - 320));
        }
    }

    // .main-slider__content

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px;
        background-color: rgba($color: #ffffff, $alpha: 0.72);
        backdrop-filter: blur(5px);
        width: 494px;
        height: 553px;
        z-index: 9;

        @media screen and (max-width: 1200px) {
            position: relative;
            width: 100%;
            height: auto;
            text-align: center;
            padding: calc(15px + 35 * (100vw - 320px) / (1200 - 320));
        }
    }

    // .main-slider__slider

    &__slider {
        position: relative;
        top: 10px;
        left: calc(100% - 934px);

        @media screen and (max-width: 1200px) {
            top: 0;
            left: 0;
            margin-top: 20px;
        }
    }
}

.content-main {
    // .content-main__title

    &__title {
        line-height: calc(67.2 / 56 * 100%);
        font-size: 56px;
        font-weight: 700;
        @media screen and (max-width: 1200px) {
            font-size: calc(25px + 25 * (100vw - 320px) / (1200 - 320));
        }
    }

    // .content-main__description

    &__description {
        display: block;
        margin: 16px 0px 48px 0px;
        font-size: 20px;
        line-height: 150%;
        font-weight: 500;
        color: $greyColor;
    }

    // .content-main__button

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 78px;
        background-color: $orangeColor;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        line-height: 150%;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #e6925e;
            span {
                text-decoration: underline;
            }
        }
    }
}

.slider-main {
    width: 934px;
    height: calc(553px + 70px + 10px);

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        height: auto;
    }

    @media screen and (max-width: 768px) {
        overflow: hidden;
        margin: 0 auto;
    }

    @media screen and (max-width: 480px) {
        padding-bottom: 58px;
    }

    // .slider-main__controls

    &__controls {
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: 1200px) {
            position: relative;
        }

        @media screen and (max-width: 480px) {
            position: static;
        }
    }

    // .slider-main__wrapper

    &__wrapper {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 9999px;
        transition: ease-in 0.8s all;
    }

    // .slider-main__page

    &__page {
    }
}

.controls-slider-main {
    z-index: 10;
    height: 70px;
    width: 714px;

    @media screen and (min-width: 1200px) and (max-width: 1440px) {
        width: calc(100vw - 494px - 32px - (15px + 85 * (100vw - 1000px) / (1440 - 1000)) * 2);
        // width: calc(104px + 600 * ((100vw - 768px) / (1440 - 768))); //!!!!!!!!!!!!!!!!!!!!!
        // width: (714vw / 1440 * 100);
    }

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (max-width: 768px) {
        padding: 0px 15px;
    }

    @media screen and (max-width: 480px) {
        justify-content: center;
    }

    // .controls-slider-main__dots

    &__dots {
        // height: 48px;
        // display: grid;
        // align-items: center;
        // grid-template-columns: auto;
        // grid-auto-flow: column;
        // grid-column-gap: 20px;

        // @media screen and (max-width: 1200px) {
        //     margin-left: 5px;
        // }
    }

    // .controls-slider-main__dot

    &__dot {
        // width: 11px;
        // height: 11px;
        // position: relative;
        // background-color: #d8d8d8;
        // border-radius: 50%;
        // transition: all 0.5s ease;
        // &._active {
        //     background-color: $orangeColor;
        //     &::after {
        //         content: "";
        //         position: absolute;
        //         left: -8px;
        //         top: -8px;
        //         display: block;
        //         height: 27px;
        //         width: 27px;
        //         border: 1px solid $orangeColor;
        //         border-radius: 50%;
        //     }
        // }
        // &:hover {
        //     background-color: #e89f73;
        // }
    }

    // .controls-slider-main__arrows

    &__arrows {
        position: absolute;
        top: 0;
        right: 0;

        @media screen and (max-width: 1200px) {
            position: relative;
        }

        @media screen and (max-width: 480px) {
            position: absolute;
            top: auto;
            bottom: 0;
            right: calc(50% - 52px);
        }
    }
}

.page-slider {
    position: relative;
    top: 70px;
    margin-right: 32px;
    transition: all 0.3 ease 0s;

    &._active {
        .page-slider__content {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    @media screen and (max-width: 1200px) {
        width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
        top: 0px;
        margin-top: 10px;
    }

    // .page-slider__image

    &__image {
        width: 934px;
        height: 553px;
        @media screen and (max-width: 1200px) {
            width: calc(290px + 644 * (100vw - 320px) / (1200 - 320));
            height: auto;
        }
    }

    // .page-slider__content

    &__content {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 40px;
        right: 40px;
        transform: translateY(50px);
        transition: all 0.8s ease-in 0s;
        @media screen and (max-width: 768px) {
            position: relative;
            bottom: 0;
            right: 0;
            transform: none;
        }
    }
}

.content-page {
    width: 294px;
    height: 148px;
    padding: 24px;
    background-color: rgba($color: #ffffff, $alpha: 0.72);
    backdrop-filter: blur(5px);

    @media screen and (max-width: 768px) {
        width: 100%;
        text-align: center;
    }

    // .content-page__title

    &__title {
        font-size: 28px;
        line-height: calc(33.6 / 28 * 100%);
        font-weight: 600;
        display: block;
    }

    // .content-page__description

    &__description {
        font-weight: 500;
        line-height: 175%;
        display: block;
    }

    // .content-page__price

    &__price {
        font-size: 20px;
        line-height: 190%;
        font-weight: 600;
        display: block;
    }

    // .content-page__link

    &__link {
        position: absolute;
        // bottom: 31px;
        // right: 28px;
        bottom: 24px;
        right: 27px;
    }

    // .content-page__icon

    &__icon {
        width: 20px;
        height: 14px;
        fill: #000;
    }
}
