.tips {
    max-width: $maxWidth;
    background-color: #fff;

    // .tips__body

    &__body {
        max-width: $maxContainerWidth;
        margin: 0 auto;
        padding: 44px 0px 0px 0px;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 63px);
        }

        @media screen and (max-width: 768px) {
            max-width: calc(254px + 137 * (100vw - 320px) / (768 - 320) + 30px);
        }
    }

    .tips__title {
        text-align: center;
        // font-size: 40px;
        // font-weight: 768;
        // line-height: 120%;

        // @media screen and (max-width: 900px) {
        //     font-size: calc(24px + 16 * (100vw - 320px) / (900 - 320));
        // }
    }

    // .tips__slider

    &__slider {
        position: relative;
    }
}

.slider-tips {
    // .slider-tips__controls

    &__controls {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    // .slider-tips__container

    &__container {
        max-width: $maxContainerWidth;
        padding: 32px 15px 44px 15px;
        overflow: hidden;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 63px);
        }

        @media screen and (max-width: 768px) {
            max-width: calc(254px + 137 * (100vw - 320px) / (768 - 320) + 30px);
            padding-bottom: 25px;
        }

        @media screen and (max-width: 480px) {
            padding-bottom: 84px;
        }
    }

    // .slider-tips__wrapper

    &__wrapper {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: row;
        width: 9999px;
        transition: all 0.6s ease 0s;
    }

    // .slider-tips__page

    &__page {
        margin-right: 33px;
    }
}

.controls-slider-tips {
    // .controls-slider-tips__arrows

    &__arrows {
        position: absolute;
        top: 161px + 32px;
        left: 15px;
        width: 1240px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 1350px) {
            max-width: calc((254px + 137 * (100vw - 320px) / (1350 - 320)) * 2 + 33px);
            top: calc((122px + 39 * (100vw - 768px) / (1350 - 768)) + 32px);
        }

        @media screen and (max-width: 768px) {
            max-width: calc(204px + 237 * (100vw - 320px) / (768 - 320) + 96px);
            margin-left: calc(-23px - 50 * (100vw - 320px) / (768 - 320));
        }

        @media screen and (max-width: 480px) {
            max-width: 106px;
            position: relative;
            top: calc(100% - 116px);
            left: calc(50% - 53px);
            margin: 0;
        }
    }

    // .controls-slider-tips__arrow

    &__arrow {
        background-color: #fff;
        box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
        z-index: 10;

        &._blocked {
            cursor: default;
            background-color: rgba($color: rgb(245, 245, 245), $alpha: 0.72);
            .slider-arrows__arrow-icon {
                fill: $orangeColor;
            }

            @media screen and (max-width: 768px) {
                background-color: rgba($color: $orangeColor, $alpha: 0.4);
                .slider-arrows__arrow-icon {
                    fill: #fff;
                }
            }
        }

        // .controls-slider-tips__arrow_prev

        &_prev {
            transform: translateX(-24px);

            @media screen and (max-width: 480px) {
                transform: none;
            }
        }

        // .controls-slider-tips__arrow_next

        &_next {
            transform: translateX(24px);

            @media screen and (max-width: 480px) {
                transform: none;
            }
        }
    }

    // .controls-slider-tips__dots

    &__dots {
        z-index: 10;
        position: relative;
        top: calc(100% - 48px - 44px);
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.page-slider-tips {
    width: 391px;
    margin-bottom: 45px + 27px;
    transition: all 0.3s ease 0s;

    @media screen and (max-width: 1350px) {
        width: calc(254px + 137 * (100vw - 320px) / (1350 - 320));
    }

    @media screen and (max-width: 768px) {
        width: calc(254px + 137 * (100vw - 320px) / (768 - 320));
        margin-bottom: 0px;
    }

    &:hover {
        box-shadow: -3px 20px 20px rgba($color: #616161, $alpha: 0.1);
    }

    // .page-slider-tips__image

    &__image {
        @media screen and (max-width: 1350px) {
            width: calc(254px + 137 * (100vw - 320px) / (1350 - 320));
        }

        @media screen and (max-width: 768px) {
            width: calc(254px + 137 * (100vw - 320px) / (768 - 320));
            margin-bottom: 0px;
        }
    }

    // .page-slider-tips__content

    &__content {
    }
}

.content-page-tips {
    padding: 16px;

    // .content-page-tips__title

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8px;

        @media screen and (max-width: 900px) {
            font-size: calc(17px + 7 * (100vw - 320px) / (900 - 320));
        }
    }

    // .content-page-tips__date

    &__date {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
    }
}
